@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@700&family=Noto+Sans+Thai:wght@100&family=Noto+Serif:wght@200&family=REM&display=swap');

/* font-family: 'Noto Sans Thai', sans-serif;
  font-family: 'Noto Serif', serif;
  font-family: 'REM', sans-serif; 
  font-family: 'Arsenal', sans-serif;*/

